
#newProjectModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0;
    border-radius: 30px;
    margin: 0;
    padding: 0;

    width: 80vw;
    max-width: 400px;
    height: 70vh;
    max-height: 200px;

    background-color: #ede;
}

#newProjectModal-container {
    margin: 0;
    padding: 0;

    display: grid;
    row-gap: 0px;
    grid-template-rows: 50px 1fr;
}

#newProjectModal-header {
    background-color: #99e;
    border-radius: 30px 30px 0 0;
    padding: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#newProjectModal-header > div {
    font-weight: bold;
    font-size: 30px;
}

#close-newProjectModal {
    border-radius: 15px;
    border: 0;

    width: 30px;
    aspect-ratio: 1/1;
    padding: auto;

    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #ede;
}

#newProjectModal-input {
    padding: 30px 30px 0 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

#newProjectModal-input > div {
    font-size: 20px;
    font-weight: bold;
}

#newProjectModal-confirm {
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;

    padding: 5px;
    border-radius: 30px;
    border: 1px #ddd solid;
}