* {
    font-family: sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
}

main {
    display: grid;
    grid-template-rows: auto auto 1fr;
}
