/*
    Following are the IDs for reference
    -----------------------------------
    #appName = App Name (ToDos List on top left)
    #profile = Profile tab on Top Right {
            #profilePicture = Circle picture / Letter
            #profileName = Username
        }
*/

#sidebar {
    background-color: #eee;

    height: 100%;

    display: flex;
    flex-direction: column;
}

#sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0px 30px;
}

#newProject {
    font-size: 30px;
    font-weight: bold;
    width: 40px;
    aspect-ratio: 1/1;

    align-self: center;
    border: 0;
    margin-top: 5px;
}

#sidebar > div > h2 { 
    margin-bottom: 0;
}

#sidebar > ul {
    list-style-type: none;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#sidebar > ul > li > button {
    text-transform: uppercase;
    width: 200px;

    white-space: normal;
    word-break: break-word;
}