/*
    Following are the IDs for reference
    -----------------------------------
    #projectHeader - Display the selected Project and Buttons
    #projectLine - thin line
    #TodoMenu - Display all Todo items
*/

#projectHeader { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px;
}

#projectName {
    text-transform: uppercase;
    white-space: normal;
    word-break: break-word;

    font-weight: bold;
    font-size: 30px;
}

#projectLine {
    width: auto;
    height: 1px;
    background-color: darkblue;

    margin: 0px 15px;
}

#TodoMenu {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 15px;

    padding: 15px
}

.task-container {
    border: 2px black solid;
    flex: 0 0 0;
    min-width: 250px;
    height: 150px;
}