#editTaskModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0;
    border-radius: 30px;
    margin: 0;
    padding: 0;

    width: 80vw;
    max-width: 500px;
    height: 70vh;
    max-height: 320px;

    background-color: #ede;
}

#editTaskModal-container {
    margin: 0;
    padding: 0;

    display: grid;
    row-gap: 0px;
    grid-template-rows: 50px 1fr;
}

#editTaskModal-header {
    background-color: #99e;
    border-radius: 30px 30px 0 0;
    padding: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#editTaskModal-header > div {
    font-weight: bold;
    font-size: 30px;;
}

#close-editTaskModal {
    border-radius: 15px;
    border: 0;

    width: 30px;
    aspect-ratio: 1/1;
    padding: auto;

    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #ede;
}

#editTaskModal-inputs {
    margin: 30px 30px 10px 30px;

    font-weight: bold;
    font-size: 25px;
}

#editTaskModal-submit {
    width: 100px;
    text-transform: uppercase;
    margin-left: 30px;
}

#deleteTask {
    width: 100px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 15px;
}